# ----------------------
# Flask
# ----------------------
Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
PyMySQL
faker
mysql-connector
werkzeug
Flask-Security
flask_bcrypt

# ----------------------
# Production Server
# ----------------------
gunicorn
email_validator
requests
python-dotenv